@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 45% 98%;
    --foreground: 24 73% 25%;
    --card: 33 45% 98%;
    --card-foreground: 24 73% 25%;
    --popover: 33 45% 98%;
    --popover-foreground: 24 73% 25%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 33 45% 98%;
    --border: 24 73% 90%;
    --input: 24 73% 90%;
    --ring: 24 73% 43%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 24 73% 15%;
    --foreground: 33 45% 98%;
    --card: 24 73% 15%;
    --card-foreground: 33 45% 98%;
    --popover: 24 73% 15%;
    --popover-foreground: 33 45% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 33 45% 98%;
    --border: 24 73% 30%;
    --input: 24 73% 30%;
    --ring: 24 73% 43%;
  }
}

@layer base {
  * {
    @apply border-border
  }
  body {
    @apply bg-background text-foreground
  }
}

